.header {
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    padding: 0 20px;
    /* margin-left: 250px; -- Removed */

    .title {
        font-size: 18px;
        font-weight: 600;
        color: #333;
        flex-grow: 1;
        text-align: center;
    }

    .userInfo {
        display: flex;
        align-items: center;
        font-size: 13px;
        color: #666;

        .logout {
            color: #003399;
            margin-left: 10px;
            cursor: pointer;
            font-weight: 500;
        }
    }
}