.mainApp {
    display: flex;
    font-family: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
    background-color: #f5f5f5;
    min-height: 100vh;
}

.contentWrapper {
    flex-grow: 1;
    /* margin-left: 250px; -- Removed */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mainContent {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    background-color: #f5f5f5;
}